@tailwind base;
@tailwind components;
@tailwind utilities;

.black-screen {
  background-color: rgba(0, 0, 0, 0.5);
}

.hide-scroolbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
